@mixin arrow {
    cursor: pointer;
    position: relative;
    &::after {
        content: "";
        display: block;
        position: absolute;
        right: -17px;
        top: 2.5px;
        border: solid rgba(31, 32, 65, .5);
        border-width: 0 2px 2px 0;
        padding: 3.4px;
        transform: rotate(45deg);
    }
}

// .right {
//     transform: rotate(-45deg);
// }
// .left {
//     transform: rotate(135deg);
// }
// .up {
//     transform: rotate(-135deg);
// }
// .down {
//     transform: rotate(45deg);
// }