.button {
    --border-radius: 22px;
    border: none;
    background: $main-bg;
    border-radius: var(--border-radius);
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    // transition: 0.1s all;
    outline: 0 !important;
    color: #fff;
    &:active {
        filter: saturate(200%);
        transform: scale(1.01);
    }
    &_nav-small {
        color: $main-color;
        --border-width: 2px;
        border: 0;
        width: 84px;
        height: 30px;
        position: relative;
        z-index: 1;
        &::before {
            content: "";
            display: block;
            height: calc(100% - calc(var(--border-width) * 2));
            width: calc(100% - calc(var(--border-width) * 2));
            background: white;
            position: absolute;
            top: var(--border-width);
            left: var(--border-width);
            border-radius: calc(var(--border-radius) - var(--border-width));
            z-index: -1;
        }
    }
    &_nav-big {
        color: #fff;
        width: 196px;
        height: 34px;
    }
    &_form {
        color: white;
        height: 44px;
    }
    &_modal {
        position: relative;
        margin-top: 20px;
        height: 44px;
        &::after {
            position: absolute;
            top: 50%;
            right: 14px;
            content: "";
            display: block;
            border: solid rgb(255, 255, 255);
            border-width: 0 2px 2px 0;
            padding: 5px;
            transform: translateY(-50%) rotate(-45deg);
        }
        &::before {
            position: absolute;
            top: 50%;
            right: 13px;
            transform: translateY(-50%);
            content: "";
            display: block;
            background: rgb(255, 255, 255);
            height: 2px;
            width: 16px;
        }
    }
    &_modal-small {
        height: 44px;
    }
}