.header {
    // z-index: 20;
    &__logo {
        object-fit: cover;
        width: auto;
        height: 40px;
        justify-self: start;
    }
    z-index: 9999;
    width: 100%;
    height: 70px;
    &__wrap {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 106px auto 305px;
        // justify-content: space-between;
        align-content: center;
    }
    &__authorization {
        justify-self: end;
    }
}