.subnav {
    z-index: 2;
    position: relative;
    &:hover {
        .subnav__arrow {
            opacity: 1;
        }
        .subnav__list {
            visibility: visible;
            opacity: 1;
        }
    }
    &__arrow {
        position: relative;
        &::after,
        &::before {
            position: absolute;
            right: -16px;
            top: 5px;
            content: "";
            display: block;
            height: 8px;
            width: 2px;
            background-color: rgba(31, 32, 65);
            transform: rotate(50deg);
        }
        &::before {
            right: -11px;
            transform: rotate(-50deg);
        }
        opacity: 0.5;
        transition: all .9s;
    }
    &__list {
        z-index: -1;
        background: rgb(255, 255, 255);
        border-radius: 12px;
        position: absolute;
        top: 13px;
        left: -5px;
        padding-top: 4px;
        padding-left: 1px;
        opacity: 0;
        visibility: hidden;
        transition: all .5s;
    }
    &__item {
        padding: 3px 3px;
        &:nth-child(2) {
            margin: 0;
        }
    }
}