.subnav {
    z-index: 2;
    position: relative;
    &:hover {
        .subnav__arrow {
            &::after {
                transform: rotate(-135deg);
                border-color: rgba(31, 32, 65, 1);
            }
        }
        .subnav__list {
            visibility: visible;
            opacity: 1;
        }
    }
    &__arrow {
        @include arrow;
    }
    &__list {
        z-index: -1;
        background: rgb(255, 255, 255);
        border-radius: 12px;
        position: absolute;
        top: 13px;
        left: -5px;
        padding-top: 4px;
        padding-left: 1px;
        opacity: 0;
        visibility: hidden;
        transition: all .5s;
    }
    &__item {
        padding: 3px 3px;
        &:nth-child(2) {
            margin: 0;
        }
    }
}